*{
	box-sizing: border-box;
	/* This makes the widths of elements more consistent
		Full details here https://css-tricks.com/box-sizing/ */
}

body{
	margin: 0px; /* Often browsers have a 5px margin by deafult*/
	font-family: Do Hyeon;
	background-image: url('../img/Wellington.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.bodyCCTV{
	font-family: Do Hyeon;
	background-image: url('../img/CCTVCameraBackground.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

article{
	margin-top: 100px;
}

.Intro{
	text-align: center;
	padding: 100px 0px;
	color: #eaeaea;
}

.IntroCCTV{
	text-align: center;
	padding: 100px 0px;
	color: #1e1e1e;
}

.section{
	width: 100%;
	overflow: hidden;
	background-image: url('../img/CCTVBackground.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 500px;
}
.section2{
	width: 100%;
	overflow: hidden;
	background-image: url('../img/PowerLines.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 500px;
}

.section3{
	width: 100%;
	overflow: hidden;
	background-image: url('../img/trafficlight.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 500px;
}

.container{
	float: right;
	background-color: #eaeaea;
	width: 50%;
	color: #1e1e1e;
	padding: 10px;
	height: 100%;
}

.container2{
	float: left;
	background-color: #eaeaea;
	width: 50%;
	color: #1e1e1e;
	padding: 10px;
	height: 100%;
}
.containercctv{
	display: center;
	background-color: #eaeaea;
	width: 70%;
	margin: auto;
	padding: 10px;
}

header{
	background-color: #1e1e1e;
	color: #eaeaea;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center
}

nav{
	width: 100%;
	height: 60px;
	padding: 0px;
	top: 0px;
	background-color: #eaeaea;
	color: #1e1e1e;
	position: fixed;
}
h1{
	font-size: 300%;
}
nav h2{
	float: left;
	text-align: center;
	margin: 0px;
	line-height: 60px;
	text-decoration: none;
	padding-left: 10px;
	padding-right:10px;
}

nav a{
	float: right;
	display: inline-block;
	background-color: #eaeaea;
	color: #1e1e1e;
	text-align: center;
	line-height: 60px;
	width: 20%;
	height: 100%;
	font-size: 150%;
	text-decoration: none;
	padding: 0px;
}
nav a:hover{
	background-color: #1e1e1e;
	color: #eaeaea;
}

p{
	font-size: 125%;
}
p a{
	color: #1e1e1e;
 }
/* Simple grid */
.g-row{
	width: 100%;
	overflow: hidden;
}


.g-row img{
	width: 100%; /*This makes all images in grids to be the size of their cell */
}

.g-50{
	width: 50%;
	float: left;
}

.g-30{
	width: 30%;
	float: left;
}

.g-70{
	width: 70%;
	float: left;
}

.show{
	border: 1px solid blue;
	padding: 2px;
}

.padded{
	padding: 30px 30px;
}

.padding{
	padding: 80px 30px;
}

.article{
	display: block;
	border-style: solid;
	border-width: 5px;
	border-color: #1e1e1e;
	padding: 10px;
	height: 100%;
}

.article img{
	display: inline-block;
	float: right;
}


.article2{
	display: block;
	border-style: solid;
	border-width: 5px;
	border-color: #1e1e1e;
	padding: 10px;
	height: 100%;
}

@media(max-width: 768px){
	header #logo
	nav
	nav a
	nav h2
	#container .container,
	p{
		float:none;
		text-align: center;
		width: 100%;
		font-size: 75%;

	}

}
